---

---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro</title>
</head>

<body>
	<main class="flex flex-col items-center justify-center mx-4">
		<h1 class="text-[#E8DCFF] text-3xl text-center mt-4">Why?</h1>

		<div class="text-neutral-200">
			<p>When I was in 5th grade, I heard the word `excel` for the first time at school.
				I
				liked the sound of it. At that time, a mobile game called <a
					href="https://supercell.com/en/games/clashofclans/" target="_blank">Clash of Clans</a>
				Everyone had
				cool usernames except me (I just had Shoubhit16). So I thought let's mix this excelp word up a bit and
				made
				it nexxel.
			</p>

			<p>The name has stuck with me since then and I use it in almost all games I play.</p>
		</div>
	</main>
</body>

<style>
	body {
		background-color: #161616;
	}
</style>

</html>